h1{
    text-align: center;
    font-family: Ranchers;
    color:gray;
    background-color: lightpink;
    margin:auto;
    
}
p{
    text-align: center;
    font-family: Unkempt;
    font-size: larger;
}

/*Font color for first paragraph*/
.up{
    color:lightgray;
    background-color: black;
    margin-left:10%;
    margin-right:10%;
    text-align: center;
    padding:5%
}

/*fonts for heading and paragraphs*/
@font-face {
    font-family:Ranchers ;
    src: url(Ranchers-Regular.ttf);
}
@font-face {
    font-family: Unkempt;
    src: url(Unkempt-Regular.ttf);
}

/*Stacked donuts */
.img1{
    text-align: center;
    padding:4%;
    border-style:double;
    border-color: lightskyblue;
    color:lightskyblue;
    display:table;
    margin:auto;
    margin-top: 6%;
}
.img2{
    text-align: center;
    padding:4%;
    border-style:double;
    border-color: lightcoral;
    color:lightcoral;
    display:table;
    margin:auto;
    margin-top: 6%;
}

/*The brainrot section styleing*/
.img3{
    text-align: center;
    padding:4%;
    border-style:double;
    border-color: lightgreen;
    color:lightgreen;
    display:table;
    margin:auto;
    margin-top: 6%;
}

/*The background of the homepage*/
body{
    background-image: url(darkness_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin:auto;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:white;
    display:flex;
    position: sticky;
    top: 0;
    width: 100%;
    justify-content:center;
}
ul li a{
    display:block;
    color:rgb(37, 37, 37);
    padding:14px 16px;
    text-align: center;
    font-family: Unkempt;
    font-size: larger;
    text-decoration: none;

}
ul li a:hover{
    background-color:black;
    color:rgb(209, 209, 209);
}